<div class="row">
  <div class="col-md-6 offset-3">

    <%= form_with(model: presentation_event, local: true) do |form| %>
      <% if presentation_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(presentation_event.errors.count, "error") %> prohibited this presentation_event from being saved:</h2>

          <ul>
            <% presentation_event.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <div class="mb-3 row">
          <%= form.label :event_name, class: 'col-sm-2 col-form-label' %>
          
          <div class="col-sm-10">
            <%= form.text_field :event_name, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="field">
        <div class="mb-3 row">
          <%= form.label :due, class: 'col-sm-2 col-form-label' %>

          <div class="col-sm-10">
            <%= form.text_field :due, class: 'form-control'%>
            <div class="row text-center">
              <small>(Format: YYYY-MM-DD HH:MM:SS TMZ)</small>
            </div>
          </div>

          
        </div>
      </div>

      <div class="field">
        <div class="mb-3 row">
          <%= form.label :status, class: 'col-sm-2 col-form-label' %>
          <div class="col-sm-10">
            <%= form.select(:status,['Open', 'Closed']) %>
          </div>
        </div>
      </div>

      <div class="actions text-center">
        <%= form.submit "Save", class: " mt-2 btn btn-primary btn-lg" %>
      </div>

  </div>
    <% end %>
</div>
